<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head'); %> <!-- Include the head file -->
    <body class="container">
        <%- include('../partials/header', {pagina: "Sobre"}); %>
        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Meu nome é Giovanni Medeiros, sou Dev front-end!</p>
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>

</html>